h2{
    color: black;
    text-align: center;
    text-decoration: underline;
}

.main-head{
    background-color: #eeeeee;
    padding: 2rem;
    /* text-decoration: underline; */
    border-radius: 5px;
}


h4{
    text-decoration: underline;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
}
  
th, td {
    text-align: center;
    padding: 8px;
}
  
  tr:nth-child(even) {background-color: #f2f2f2;}